
body {
    margin: .25em;
}

h1 {
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}

h2 {
    font-size: 2.25em;
    font-weight: bold;
}
.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

caption {
    display: table-caption;
    text-align: center;
}



#myDIV {
    width: 100%;
    background: red;
    animation: mymove 5s infinite;
    text-align: center;
    margin: auto;
}

@keyframes mymove {
    from {
        background-color: red;
    }
    to {
        background-color: blue;
    }
}

footer {
    position: fixed;
    bottom: 0;
    right: 15px;
    font-size: 14px;
}

.buttonLook {
    display: block;
    text-decoration: none;
    text-align: center;
}

a.buttonLook:hover {
    background-color: #000704;
    color: #187ffc;
}

a.buttonLook:active {
    background-color: #6A8E7F;
    color: #f18aa0;
}


/* override styles when printing */
@media print {
    body {
        margin: 0;
        color: #000;
        background-color: #fff;
    }

    header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
        display: none;
    }
}
