<!DOCTYPE html system "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/97c6a9ea35.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/myStyle.css">
</head>
<body>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div id="myDIV">
            <h1 th:text="${appName}">app</h1>
            <h3 th:text="${wMsg}">Welcome!</h3>
            <p class="text-secondary display-4 mt-5 pt-5 font-weight-bold">

                <span th:if="${venue}" th:text="|${venue.getVenueName()}|">Venue!</span> <i
                    class="fas fa-glass-cheers"></i>
                <span th:unless="${venue}" th:text="|${vName}|">Venue!</span> <i class="fas fa-glass-cheers"></i>

            </p>
            <p th:if="${venue}"><a href="/#venueList2" class="text-light text-right">Back to the venue list </a></p>
            <p th:unless="${venue}"><a href="/#venueList" class="text-light text-right">Back to the venue list </a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div th:if="${venue}">
            <h2 th:text="${venue.venueName}">venue</h2>
            <div class="venueinfo">
                <div class="infoLine">
                    <div class="infoLineName">max number of people:</div>
                    <div class="infoLineValue"
                         th:text="${venue.infoAvailableMaxNumberOfPersons} ? ${venue.maxNumberOfPersons}: 'unknown'">77
                    </div>
                </div>
                <div class="infoLine">
                    <div class="infoLineName">are own drinks allowed:</div>
                    <div class="infoLineValue" th:text="${venue.ownDrinkAllowed}">yes</div>
                </div>
                <div class="infoLine">
                    <div class="infoLineName">is food possible:</div>
                    <div class="infoLineValue" th:text="${venue.isFoodPossible()}">yes</div>
                </div>
                <div class="infoLine">
                    <div class="infoLineName">more info:</div>
                    <div class="infoLineValue"><a th:text="${venue.linkMoreInfo}"
                                                  th:href="${venue.linkMoreInfo}"
                                                  class="linkLook"
                                                  target="_blank">more_info_link</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <a href="/" class="text-light">Go to home page</a>
</footer>
</body>
</html>